In [39]:
%matplotlib inline
import pandas as pd
import numpy as np
from ast import literal_eval
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
data = pd.read_csv("/content/Movie_metadata.csv",engine='python')

In [41]:
data.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [42]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [43]:
data.status.unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       None, 'Planned', 'Canceled'], dtype=object)

In [47]:
data = data[['id','genres', 'original_language', 'production_countries', 'tagline', 'original_title', 'adult','release_date','status']]

In [48]:
for i in range(len(data)):
  a = data["status"][i]
  if a == "Released":
    data["status"][i] = "Released"
  else:
    data["status"][i] = "  "

In [49]:
import json
import ast

In [50]:
data["genres"][1]

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"

In [51]:
for i in range(len(data['genres'])):
  str_tmp = ""
  genre = data['genres'][i]
  genre = genre.replace("\'", "\"")
  json_genre = json.loads(genre)
  for j in range(len(json_genre)):
    str_tmp += (json_genre[j]['name'])+" "
  data['genres'][i] = str_tmp

In [54]:
data['genres'][10]

'Comedy Drama Romance '

In [ ]:
data.isna()

In [56]:
data.isna().sum()

id                          0
genres                      0
original_language          11
production_countries        3
tagline                 25054
original_title              0
adult                       0
release_date               87
status                      0
dtype: int64

In [63]:
data['production_countries'].replace(np.nan, '', inplace=True)
data["original_language"].replace(np.nan," ",inplace = True)
data["tagline"].replace(np.nan, '', inplace=True)
data['adult'].replace(np.nan, '', inplace=True)
data["release_date"].replace(np.nan," ",inplace = True)

In [64]:
data.isna().sum()

id                      0
genres                  0
original_language       0
production_countries    0
tagline                 0
original_title          0
adult                   0
release_date            0
status                  0
dtype: int64

In [ ]:
for i in range(len(data['production_countries'])):
  str_tmp = ""
  country = data['production_countries'][i]
  if (country != ''):
    country = json.dumps(ast.literal_eval(country))
    json_country = json.loads(country)
    print(json_country)
    try:
      for j in range(len(json_country)):
        str_tmp += (json_country[j]['name'])
      print(str_tmp)

      data['production_countries'][i] = str_tmp
    except:
      print("Error ================> ")
  else:
    print("Blank")

In [ ]:
data['production_countries'][5]

In [66]:
data1 = pd.read_csv('/content/keywords.csv')

In [ ]:
for i in range(len(data1['keywords'])):
  str_tmp = ""
  keyword = data1['keywords'][i]
  keyword = json.dumps(ast.literal_eval(keyword))
  json_keyword = json.loads(keyword)
  # print(json_keyword)
  for j in range(len(json_keyword)):
    str_tmp += (json_keyword[j]['name'])+" "
  # print(str_tmp)

  data1['keywords'][i] = str_tmp

In [69]:
data2 = pd.read_csv('/content/credits.csv')

In [70]:
data2 = data2.rename(columns=({'crew': 'director'}))

In [ ]:
data2['cast'][0]

In [72]:
for i in range(len(data2['cast'])):
  str_tmp = ""
  credit = data2['cast'][i]
  credit = json.dumps(ast.literal_eval(credit))
  json_credit = json.loads(credit)
  # print(json_credit[0]['name'])

  for j in range(len(json_credit)):
    str_tmp += (json_credit[j]['name'])+" "
  # print(str_tmp)

  data2['cast'][i] = str_tmp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [73]:
for i in range(len(data2['director'])):
  str_tmp = ""
  director = data2['director'][i]
  director = json.dumps(ast.literal_eval(director))
  json_director = json.loads(director)
  # print(json_director)
  for j in range(len(json_director)):
    if json_director[j]['job'] == 'Director':
      str_tmp += (json_director[j]['name'])+" "
      # print(str_tmp)
  data2['director'][i] = str_tmp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [74]:
data['id'] = data['id'].astype(str)

In [75]:
data1['id'] = data1['id'].astype(str)

In [76]:
data_merge = pd.merge(data1, data, on='id', how='inner')[['id', 'genres', 'original_language', 'production_countries', 'tagline',
       'original_title', 'keywords', 'adult', 'release_date', 'status']]

In [78]:
data2['id']=data2['id'].astype(str)

In [79]:
data_merge_whole = pd.merge(data_merge, data2, on='id', how='inner')[['id', 'genres', 'original_language', 'production_countries', 'tagline',
       'original_title', 'keywords', 'cast','director', 'adult', 'release_date', 'status']]

In [81]:
data_merge_whole.head(5)

,id,genres,original_language,production_countries,tagline,original_title,keywords,cast,director,adult,release_date,status
0,862,Animation Comedy Family,en,United States of America,,Toy Story,jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter,False,1995-10-30,Released
1,8844,Adventure Fantasy Family,en,United States of America,Roll the dice and unleash the excitement!,Jumanji,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Joe Johnston,False,1995-12-15,Released
2,15602,Romance Comedy,en,United States of America,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Howard Deutch,False,1995-12-22,Released
3,31357,Comedy Drama Romance,en,United States of America,Friends are the people who let you be yourself...,Waiting to Exhale,based on novel interracial relationship single...,Whitney Houston Angela Bassett Loretta Devine ...,Forest Whitaker,False,1995-12-22,Released
4,11862,Comedy,en,United States of America,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Charles Shyer,False,1995-02-10,Released

In [84]:
data_merge_whole = data_merge_whole.dropna()
data_merge_whole

,id,genres,original_language,production_countries,tagline,original_title,keywords,cast,director,adult,release_date,status
0,862,Animation Comedy Family,en,United States of America,,Toy Story,jealousy toy boy friendship friends rivalry bo...,Tom Hanks Tim Allen Don Rickles Jim Varney Wal...,John Lasseter,False,1995-10-30,Released
1,8844,Adventure Fantasy Family,en,United States of America,Roll the dice and unleash the excitement!,Jumanji,board game disappearance based on children's b...,Robin Williams Jonathan Hyde Kirsten Dunst Bra...,Joe Johnston,False,1995-12-15,Released
2,15602,Romance Comedy,en,United States of America,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,fishing best friend duringcreditsstinger old men,Walter Matthau Jack Lemmon Ann-Margret Sophia ...,Howard Deutch,False,1995-12-22,Released
3,31357,Comedy Drama Romance,en,United States of America,Friends are the people who let you be yourself...,Waiting to Exhale,based on novel interracial relationship single...,Whitney Houston Angela Bassett Loretta Devine ...,Forest Whitaker,False,1995-12-22,Released
4,11862,Comedy,en,United States of America,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,baby midlife crisis confidence aging daughter ...,Steve Martin Diane Keaton Martin Short Kimberl...,Charles Shyer,False,1995-02-10,Released
...,...,...,...,...,...,...,...,...,...,...,...,...
46623,439050,Drama Family,fa,Iran,Rising and falling between a man and woman,رگ خواب,tragic love,Leila Hatami Kourosh Tahami Elham Korda,Hamid Nematollah,False,,Released
46624,111109,Drama,tl,Philippines,,Siglo ng Pagluluwal,artist play pinoy,Angel Aquino Perry Dizon Hazel Orencio Joel To...,Lav Diaz,False,2011-11-17,Released
46625,67758,Action Drama Thriller,en,United States of America,A deadly game of wits.,Betrayal,,Erika Eleniak Adam Baldwin Julie du Page James...,Mark L. Lester,False,2003-08-01,Released
46626,227506,,en,Russia,,Satana likuyushchiy,,Iwan Mosschuchin Nathalie Lissenko Pavel Pavlo...,Yakov Protazanov,False,1917-10-21,Released
46627,461257,,en,United Kingdom,,Queerama,,,Daisy Asquith,False,2017-06-09,Released

In [82]:
data_merge_whole.isna().sum()

id                      0
genres                  0
original_language       0
production_countries    0
tagline                 0
original_title          0
keywords                0
cast                    0
director                0
adult                   0
release_date            0
status                  0
dtype: int64

In [ ]:
data_merge_whole.to_csv('Modified_data.csv',index=False)
from google.colab import files
files.download("Modified_data.csv")