> ## Content based Recomendation System

Author: Yashshree Naviskar

Team :14

## Data Preprocessing

In [40]:
import numpy as np # for numrical caluation analysis
import pandas as pd # for data wrangling
import warnings
warnings.filterwarnings('ignore')
import string
import json

In [41]:
Movies_Data=pd.read_csv("movies_metadata.csv")

In [42]:
print('No. of Rows:', Movies_Data.shape[0])
print('No. of Columns:',Movies_Data.shape[1])
pd.set_option('display.max_columns',None) # This will enable us to see truncated columns 
Movies_Data.head(2)

No. of Rows: 45466
No. of Columns: 24

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [43]:
Keywords_Data=pd.read_csv("keywords.csv")
print('No. of Rows:', Keywords_Data.shape[0])
print('No. of Columns:',Keywords_Data.shape[1])
pd.set_option('display.max_columns',None) # This will enable us to see truncated columns 
Keywords_Data.head()

No. of Rows: 46419
No. of Columns: 2

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

## Data Intigrity Check

In [136]:
Keywords_Data.info()  # for checking the datatypes and value count of features

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45432 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45432 non-null  int64
 1   keywords  45432 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [45]:
Keywords_Data.isnull().sum()  # for checking the datatypes and value count of features

id          0
keywords    0
dtype: int64

In [46]:
Keywords_Data.duplicated(subset='id').sum() # to find the duplicate value available in the dataframe

987

In [137]:
# Droping the duplicates value
Keywords_Data.drop_duplicates(subset ="id",keep = 'first', inplace = True)

In [48]:
Keywords_Data.duplicated().sum() # to find the duplicate value available in the dataframe

0

In [49]:
Keywords_Data.info() # to check the datashape and datatype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45432 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45432 non-null  int64
 1   keywords  45432 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [10]:
Movies_Data.duplicated(subset='id').sum() # to find the duplicate value available in the dataframe

30

In [51]:
Movies_Data.drop_duplicates(subset ="id",keep = 'first', inplace = True)

In [52]:
Movies_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45436 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45436 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45436 non-null  object
 3   genres                 45436 non-null  object
 4   homepage               7777 non-null   object
 5   id                     45436 non-null  object
 6   imdb_id                45419 non-null  object
 7   original_language      45425 non-null  object
 8   original_title         45436 non-null  object
 9   overview               44482 non-null  object
 10  popularity             45431 non-null  object
 11  poster_path            45050 non-null  object
 12  production_companies   45433 non-null  object
 13  production_countries   45433 non-null  object
 14  release_date           45349 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [53]:
Movies_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45436 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45436 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45436 non-null  object
 3   genres                 45436 non-null  object
 4   homepage               7777 non-null   object
 5   id                     45436 non-null  object
 6   imdb_id                45419 non-null  object
 7   original_language      45425 non-null  object
 8   original_title         45436 non-null  object
 9   overview               44482 non-null  object
 10  popularity             45431 non-null  object
 11  poster_path            45050 non-null  object
 12  production_companies   45433 non-null  object
 13  production_countries   45433 non-null  object
 14  release_date           45349 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [54]:
Movies_Data = Movies_Data.drop([19730, 29503, 35587])

In [55]:
Movies_Data['id']= Movies_Data['id'].astype(int)

In [56]:
Movies_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45433 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45433 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45433 non-null  object
 3   genres                 45433 non-null  object
 4   homepage               7774 non-null   object
 5   id                     45433 non-null  int32
 6   imdb_id                45416 non-null  object
 7   original_language      45422 non-null  object
 8   original_title         45433 non-null  object
 9   overview               44479 non-null  object
 10  popularity             45430 non-null  object
 11  poster_path            45047 non-null  object
 12  production_companies   45430 non-null  object
 13  production_countries   45430 non-null  object
 14  release_date           45346 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: float64(4), int32(1), object(19)
memory usage: 8.5+ MB

In [57]:
Movies_Data['id'].nunique()

45433

In [58]:
Movies_Data.duplicated(subset='id', keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Length: 45433, dtype: bool

In [59]:
Movies=Movies_Data.merge(Keywords_Data, on='id')

In [60]:
Movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."

In [61]:
Credits_Data=pd.read_csv('credits.csv')
print('No. of Rows:', Credits_Data.shape[0])
print('No. of Columns:',Credits_Data.shape[1])
pd.set_option('display.max_columns',None) # This will enable us to see truncated columns 
Credits_Data.head()

No. of Rows: 45476
No. of Columns: 3

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [62]:
Movies=Movies.merge(Credits_Data, on='id')

In [63]:
Movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [64]:
Movies["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [26]:
Movies.isnull().sum()

adult                        0
belongs_to_collection    40982
budget                       0
genres                       0
homepage                 37694
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25061
title                        3
video                        3
vote_average                 3
vote_count                   3
keywords                     0
cast                         0
crew                         0
dtype: int64

In [27]:
Movies.to_csv('Movies_Preprocessed_data.csv')

In [89]:
Movies = pd.read_csv('Movies_Preprocessed_data.csv')

In [90]:
# drop unnecessary columns
Movies.drop(columns ='Unnamed: 0', inplace =True )

In [91]:
Movies.head(3)

,id,title,overview,genres,keywords,cast,crew,title_list,tags
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[Toy, Story]","[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],[Jumanji],"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[Grumpier, Old, Men]","[A, family, wedding, reignites, the, ancient, ..."

In [92]:
Movies = Movies[['id','title','overview','genres','keywords','cast','crew']]

In [93]:
Movies.head(3)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [94]:
Movies.isnull().sum()

id            0
title         3
overview    954
genres        0
keywords      0
cast          0
crew          0
dtype: int64

In [95]:
# Dropping missing values
Movies.dropna(inplace=True)

## Data Cleaning

- **Literal_eval:**

Literal_eval method is one of the helper functions that helps traverse an abstract syntax tree. This function evaluates an expression node or a string consisting of a Python literal or container display.

- **Abstract Syntax Tree(ast)**

The ast module helps Python applications to process trees of the Python abstract syntax grammar. The abstract syntax itself might change with each Python release; this module helps to find out programmatically what the current grammar looks like.

An abstract syntax tree can be generated by passing ast.PyCF_ONLY_AST as a flag to the compile() built-in function, or using the parse() helper provided in this module. The result will be a tree of objects whose classes all inherit from ast.AST. An abstract syntax tree can be compiled into a Python code object using the built-in compile() function.

In [97]:
def fetch_director(text):
    M = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            M.append(i['name'])
    return M

In [98]:
import ast

In [99]:
Movies['crew'] = Movies['crew'].apply(fetch_director)

In [100]:
Movies.head(3)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...",[John Lasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...",[Joe Johnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...",[Howard Deutch]

In [101]:
def convert5(text):
    M = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 5:
            M.append(i['name'])
        counter+=1
    return M

In [102]:
Movies['cast'] = Movies['cast'].apply(convert5)
Movies.head()

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [115]:
import ast

In [116]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [118]:
Movies['genres'] = Movies['genres'].apply(convert)
Movies.head()

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch]
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[{'id': 818, 'name': 'based on novel'}, {'id':...","[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker]
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer]

In [120]:
Movies['keywords'] = Movies['keywords'].apply(convert)
Movies.head(3)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch]

In [103]:
Movies_meta = Movies.copy()

In [110]:
Movies= Movies_meta.copy()

In [141]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [112]:
Movies['cast'] = Movies['cast'].apply(collapse)

In [113]:
Movies['crew'] = Movies['crew'].apply(collapse)

In [122]:
Movies['genres'] = Movies['genres'].apply(collapse)
Movies['keywords'] = Movies['keywords'].apply(collapse)

In [127]:
Movies['overview'] = Movies['overview'].apply(lambda x:x.split())

In [130]:
Movies['title_list'] = Movies['title'].apply(lambda x:x.split())

In [131]:
Movies.head(3)

,id,title,overview,genres,keywords,cast,crew,title_list
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[Toy, Story]"
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],[Jumanji]
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[Grumpier, Old, Men]"

- **Combining features under new column Tags**

In [132]:
Movies['tags'] = Movies['overview']+ Movies['cast'] + Movies['crew'] + Movies['keywords'] + Movies["title_list"] + Movies['genres']

- **Droping remaining columns**

In [133]:
df = Movies.drop(columns=['overview','genres','title_list','cast','crew','keywords'])

In [134]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))
df.head()

,id,title,tags
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [135]:
df.to_csv('Movies_Clean_data.csv')

***

References:

[For Recommender System](https://en.wikipedia.org/wiki/Recommender_system) 

[For literal Eval](https://www.educative.io/answers/what-is-astliteralevalnodeorstring-in-python)

[For AST](https://docs.python.org/3/library/ast.html#:~:text=The%20ast%20module%20helps%20Python,be%20generated%20by%20passing%20ast)